body {
  background-color: white;
  font-family: Arial, sans-serif;
}

form {
  background-color: powderblue; 
  width: 50%;
  padding: 30px 40px;
  color: black;
}

p {
  background-color: powderblue;
  color: black;
  font-size: 22px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

table {
  width: 100%;
  border-spacing: 12px;
}

td:first-child {
  background-color:darkgrey;
  width: 50%;
  font-weight: bold;
  color: white;
}

input[type="submit"],
input[type="reset"] {

  background-color: grey;
  color: white;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  margin: 10px 5px;
}


