body {
    background: powderblue;
    font-family: Arial;
}

p {
  font-size:30px;
  font-weight: bold;
}

.box {
    background: powderblue;
    border: 2px solid black;
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
}

.title {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: blue;
}

th {
    text-align: left;
    padding: 8px;
    width: 200px;
}

td {
    padding: 8px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
    padding: 5px;

}

textarea {
    width: 90%;
}

